body{
    margin: 0;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: RobotoSlab-Regular;
    src: url(./fonts/RobotoSlab-Regular.ttf);
}

/* Home Section */

div.homeSection{
    background: url(./backgrounds/header.png) no-repeat;
    height: 792px;
}
@media screen and (min-width: 1601px){
    div.homeSection{
        background: url(./backgrounds/header1.png) no-repeat
    }
}

    /* Header Navigation */

div.homeSection div.logo{
    font-family: Montserrat-Bold;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 37px;
    left: 13vw;
}
div.homeSection div.nav{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 50px;
    width: 34.69vw;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.homeSection div.nav a{
    font-size: 18.6px;
    color: white;
    font-family: Montserrat-Regular;
    text-decoration: none;
}

    /* Captions */

div.homeSection div.captions{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 320px;
    width: 100%;
    color: white;
}
div.homeSection div.captions div:first-child{
    text-transform: uppercase;
    font-size: 45px;
    font-family: Montserrat-Regular;
}
div.homeSection div.captions div:first-child + div{
    text-transform: capitalize;
    font-size: 19px;
    font-family: RobotoSlab-Regular;
    margin-top: 13px;
}
div.homeSection div.captions button{
    color: white;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    width: 180px;
    border: white 2px solid;
    background-color: #00000000;
    border-radius: 2px;
    margin-top: 52px;
}
div.homeSection div.captions button:hover{
    color: #c0301c;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    width: 180px;
    background-color: white;
    border: white 2px solid;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 52px;
}

/* Services */

div.services{
    background-color: white;
    height: 579px;
}
    /* Section Title and Subtitle */

div.services div.titleAndSubtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 868px;
    width: 100%;
    color: #555555;
}
div.services div.titleAndSubtitle div.title{
    font-family: Montserrat-Regular;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
div.services div.titleAndSubtitle div.shape{
    background-color: #555555;
    height: 2px;
    width: 50px;
    margin-top: 30px;
}
div.services div.titleAndSubtitle div.subtitle{
    font-family: RobotoSlab-Regular;
    font-size: 17px;
    margin-top: 30px;
}

    /* Single Services */

div.services div.singleServices{
    display: flex;
    position: absolute;
    top: 1030px;
    margin: 0 14.38vw;
}
div.services div.singleServices div.service{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 30px;
}
div.services div.singleServices div.service div,
div.services div.singleServices div.service h2{
    font-size: 16px;
    color: #555555;
    text-align: center;
}
div.services div.singleServices div.service h2{
    font-family: Montserrat-Regular;
    text-transform: uppercase;
}
div.services div.singleServices div.service div{
    font-family: RobotoSlab-Regular;
}
div.services div.singleServices div.service:first-of-type img:hover{
    content: url(./services/service1hover.png);
}
div.services div.singleServices div.service:first-of-type + div img:hover{
    content: url(./services/service2hover.png);
}
div.services div.singleServices div.service:last-of-type img:hover{
    content: url(./services/service3hover.png);
}

/* About Us */

div.aboutUs{
    height: 753px;
    background-color: #f8f8f8;
    color: #555555;
}
    /* Section Title And Subtitle */

div.aboutUs div.titleAndSubtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.aboutUs div.titleAndSubtitle div.title{
    margin: 60px 0 0 0;
    font-family: Montserrat-Regular;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
div.aboutUs div.titleAndSubtitle div.shape{
    background-color: #555555;
    height: 2px;
    width: 50px;
    margin-top: 30px;
}
div.aboutUs div.titleAndSubtitle div.subtitle{
    font-family: RobotoSlab-Regular;
    font-size: 17px;
    margin-top: 30px;
}

    /* Content */

div.aboutUs div.content{
    font-family: RobotoSlab-Regular;
    display: flex;
    margin: 45px 14.38vw 0;
    font-size: 16px;
}
div.aboutUs div.content div.leftContent{
    margin: 0 15px 0 0;
}
div.aboutUs div.content div.rightContent{
    margin: 0 0 0 15px;
}

    /* Team Members */

div.aboutUs div.teamMembers{
    display: flex;
    margin: 24px 14.38vw 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.aboutUs div.teamMembers div.member1,
div.aboutUs div.teamMembers div.member2,
div.aboutUs div.teamMembers div.member3,
div.aboutUs div.teamMembers div.member4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.aboutUs div.teamMembers div.member1 div:first-of-type,
div.aboutUs div.teamMembers div.member2 div:first-of-type,
div.aboutUs div.teamMembers div.member3 div:first-of-type,
div.aboutUs div.teamMembers div.member4 div:first-of-type{
    text-transform: uppercase;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
}
div.aboutUs div.teamMembers div.member1 div:last-of-type,
div.aboutUs div.teamMembers div.member2 div:last-of-type,
div.aboutUs div.teamMembers div.member3 div:last-of-type,
div.aboutUs div.teamMembers div.member4 div:last-of-type{
    font-family: RobotoSlab-Regular;
    font-size: 16px;
}

        /* Slide #1 */

div.aboutUs div.teamMembers div.member1 img:hover{
    content: url(./men/man1hover.png);
}
div.aboutUs div.teamMembers div.member2 img:hover{
    content: url(./men/man2hover.png);
}
div.aboutUs div.teamMembers div.member3 img:hover{
    content: url(./men/man3hover.png);
}
div.aboutUs div.teamMembers div.member4 img:hover{
    content: url(./men/man4hover.png);
}

        /* Slide #2 */

div.aboutUs div.teamMembers + div.teamMembers div.member1 img:hover{
    content: url(./men/man5hover.png);
}
div.aboutUs div.teamMembers + div.teamMembers div.member2 img:hover{
    content: url(./men/man6hover.png);
}
div.aboutUs div.teamMembers + div.teamMembers div.member3 img:hover{
    content: url(./men/man7hover.png);
}
div.aboutUs div.teamMembers + div.teamMembers div.member4 img:hover{
    content: url(./men/man8hover.png);
}

        /* Slide #3 */

div.aboutUs div.teamMembers + div.teamMembers + div.teamMembers div.member1 img:hover{
    content: url(./men/man9hover.png);
}
div.aboutUs div.teamMembers + div.teamMembers + div.teamMembers div.member2 img:hover{
    content: url(./men/man10hover.png);
}
div.aboutUs div.teamMembers + div.teamMembers + div.teamMembers div.member3 img:hover{
    content: url(./men/man11hover.png);
}
div.aboutUs div.teamMembers + div.teamMembers + div.teamMembers div.member4 img:hover{
    content: url(./men/man12hover.png);
}
div.aboutUs div.teamMembers div.member1,
div.aboutUs div.teamMembers div.member2,
div.aboutUs div.teamMembers div.member3,
div.aboutUs div.teamMembers div.member4{
    position: relative;
}
div.aboutUs div.teamMembers div.member1 div.prev{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 32%;
    left: 0;
    width: 35px;
    height: 38px;
    background: #55555529;
    cursor: pointer;
    font-size: 18px;
}
div.aboutUs div.teamMembers div.member1 div.prev:hover{
    background: #c0301c;
}
div.aboutUs div.teamMembers div.member4 div.next{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 32%;
    right: 0;
    width: 35px;
    height: 38px;
    background: #55555529;
    cursor: pointer;
    font-size: 18px;
}
div.aboutUs div.teamMembers div.member4 div.next:hover{
    background: #c0301c;
}
div.aboutUs div.teamMembers div.member1 div.links a.facebook:hover,
div.aboutUs div.teamMembers div.member2 div.links a.facebook:hover,
div.aboutUs div.teamMembers div.member3 div.links a.facebook:hover,
div.aboutUs div.teamMembers div.member4 div.links a.facebook:hover{
    content: url(./men/facebookHover.png);
}
div.aboutUs div.teamMembers div.member1 div.links a.twitter:hover,
div.aboutUs div.teamMembers div.member2 div.links a.twitter:hover,
div.aboutUs div.teamMembers div.member3 div.links a.twitter:hover,
div.aboutUs div.teamMembers div.member4 div.links a.twitter:hover{
    content: url(./men/twitterHover.png);
}
div.aboutUs div.teamMembers div.member1 div.links a.plusGoogle:hover,
div.aboutUs div.teamMembers div.member2 div.links a.plusGoogle:hover,
div.aboutUs div.teamMembers div.member3 div.links a.plusGoogle:hover,
div.aboutUs div.teamMembers div.member4 div.links a.plusGoogle:hover{
    content: url(./men/plusGoogleHover.png);
}
div.aboutUs div.teamMembers div.member1 div.links a.linkedIn:hover,
div.aboutUs div.teamMembers div.member2 div.links a.linkedIn:hover,
div.aboutUs div.teamMembers div.member3 div.links a.linkedIn:hover,
div.aboutUs div.teamMembers div.member4 div.links a.linkedIn:hover{
    content: url(./men/linkedInHover.png);
}
div.aboutUs div.teamMembers div.member1 div.links,
div.aboutUs div.teamMembers div.member2 div.links,
div.aboutUs div.teamMembers div.member3 div.links,
div.aboutUs div.teamMembers div.member4 div.links{
    display: flex;
    position: absolute;
    bottom: 102px;
    left: 29%;
}
div.aboutUs div.teamMembers div.member1 div.links a,
div.aboutUs div.teamMembers div.member2 div.links a,
div.aboutUs div.teamMembers div.member3 div.links a,
div.aboutUs div.teamMembers div.member4 div.links a{
    height: 28px;
    width: 28px;
    display: block;
}

/* Works */

div.works{
    height: 1381px;
    background-color: white;
    color: #555555;
    position: relative;
}

    /* Section Title And Subtitle */

div.works div.titleAndSubtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.works div.titleAndSubtitle div.title{
    margin: 85px 0 0 0;
    font-family: Montserrat-Regular;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
div.works div.titleAndSubtitle div.shape{
    background-color: #555555;
    height: 2px;
    width: 50px;
    margin-top: 30px;
}
div.works div.subtitle form{
    margin: 0 37.19vw;
    display: flex;
    justify-content: space-between;
    font-family: RobotoSlab-Regular;
    font-size: 17px;
    margin-top: 30px;
}
div.works div.subtitle form input{
    display: none;
}
div.works div.subtitle form:not(:checked) > label{
    cursor: pointer;
}
div.works div.subtitle form > input:checked + label,
div.works div.subtitle form > input[name="All"]:checked ~ label{
    color: #c0301c;
}

    /* Work Level */

div.works div.workLevel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.88vw;
    grid-row-gap: 30px;
    justify-items: center;
    margin: 71px 13.6vw 0;
}
div.works div.workLevel > img{
    position: relative;
}
div.works div.workLevel img:first-child:hover{
    content: url(./gallery/workLevelHover1.png);
}
div.works div.workLevel img:first-child + img:hover{
    content: url(./gallery/workLevelHover2.png);
}
div.works div.workLevel img:first-child + img + img:hover{
    content: url(./gallery/workLevelHover3.png);
}
div.works div.workLevel img:first-child + img + img + img:hover{
    content: url(./gallery/workLevelHover4.png);
}
div.works div.workLevel img:first-child + img + img + img + img:hover{
    content: url(./gallery/workLevelHover5.png);
}
div.works div.workLevel img:first-child + img + img + img + img + img:hover{
    content: url(./gallery/workLevelHover6.png);
}
div.works div.workLevel img:first-child + img + img + img + img + img + img:hover{
    content: url(./gallery/workLevelHover7.png);
}
div.works div.workLevel img:first-child + img + img + img + img + img + img + img:hover{
    content: url(./gallery/workLevelHover8.png);
}
div.works div.workLevel img:last-child:hover{
    content: url(./gallery/workLevelHover9.png);
}
div.works div.viewButton div.row1{
    position: absolute;
    top: 442px;
    left: 21.8vw;
    display: flex;
    width: 55.3vw;
    justify-content: space-between;
}
div.works div.viewButton div.row2{
    position: absolute;
    top: 792px;
    left: 21.8vw;
    display: flex;
    width: 55.3vw;
    justify-content: space-between;
}
div.works div.viewButton div.row3{
    position: absolute;
    top: 1142px;
    left: 21.8vw;
    display: flex;
    width: 55.3vw;
    justify-content: space-between;
}
div.works div.viewButton button{
    width: 100px;
    height: 38px;
    background: #00000000;
    color: #00000000;
    border: none;
    cursor: pointer;
}
div.works div.viewButton button:hover{
    border: none;
    border-radius: 2px;
    background: url(./gallery/buttonHover.png);
}
